// .box3{
// 	background-color: #ccc;
// }
// .box3 + div{
// 	background-color: red;
// }
// .box3 ~ div{
// 	background-color: green;
// }
// .box2{
	
// }
// // ul:not([data=a]){
// // 	background-color: green;
// // 	border:1px solid red;
// // }
// ul>li:not(:hover){
// 	background-color: red;
// }
// body>div:only-child{
// 	background-color: red;	
// }
// ul>li:nth-of-type(2):nth-last-of-type(2){
// 	background-color: yellow;
// }
// ul>li:nth-child(2){
// 	background-color: red;
// }
.box1:before{
	content:'321';
	background-color: green;
}
.box1:after{
	content:'123';
	background-color: red;
}
a:after{content:'(' attr(href) ')';}
p{
	width:200px;
}
p:first-line{
	// float:left;
	font-size:40px;
	color:red
}
::selection{
	font-size:40px;
	background-color: yellow;
}
p{
	border:solid;
}
// a{
// 	display: inline-block;
// 	border:18px solid yellow;
// 	border-width:0 18px;
//     padding: 13px 10px 17px;
// 	border-image:url(../image/button_sprite.png) 0 18 50 18;
// 	-webkit-border-image:url(../image/button_sprite.png) 0 18 50 18;
// }
// a:hover{
// 	border-image:url(../image/button_sprite.png) 65 15 20 13;
// }
.button{
    width: 100px;
    height: 50px;
    background-color: #000;
	// border: 30px solid orange;
	// border-width:20px 5px 30px 60px;
	// border-color:yellow green red pink;
	// border-radius: 30px 10px 20px 5px;
	border-radius: 100px / 50px ;
}
table{
	border-collapse:separate;
	border:10px solid yellow;
	border-radius:30px;
}
table th,table td{
	border-bottom:1px solid #000;
}
.shadow{
	margin:100px;
	color:#FFF;
	border:1px solid #000;
	// box-shadow:-10px 0 10px 0px red;
	box-shadow:inset 2px 0 0 0px red;
}
img{
	width:100%;
}